body {
  background-color: #fff;
}
.house {
  display: flex;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
}
#house_list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  justify-content: flex-start;
  align-items: center;
  /*display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  width: 100%;
  gap: 20px;*/
}
* {
  font-size: 0.8rem;
  color: black;
}
.visible {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.hidden {
  display: none;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.image {
  width: 100px;
  height: 100px;
}
.map_add {
  width: 200px;
  height: 200px;
}
/*code for slider*/
.swiper {
  width: 200px;
  height: 200px;
}

.swiper-slide {
  text-align: center;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.div_info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

/*___________________________________________________________________________*/
